.header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 12.5rem;
  background: var(--gray-700);
  gap: .75rem;
}

.header strong {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.6;
  color: var(--green-400);
}

.header strong span {
  color: var(--purple-800);
}

.header svg {
  margin-top: .25rem;
}